$primary-gray: rgba(25, 25, 25, 0.7);
$secondary-gray:rgba(25, 25, 25, 0.1);
$light-orange: #f9d783;
$font-color:#191919;
$secondary-white:#f0efe9;
$orange:#F94D1C;

@import "variables";
@import "mixins";
header{
    background-color: $bg-color;
    //height: 90vh;

    .container{
         @include flex-spaced;
    
        .logo{
            margin-right: 3rem;
            width: 19rem;
            height: 11rem;
            display: grid;
            place-items: center;

            img{
                width: 14rem;
            }
        }
        .nav_toggle{
            font-size: 4rem;
            display: none;

            @media (max-width:1180px) {
                 display: block;
               }

        }
        
        .header_container{
            display: flex;
            flex-direction: column;
            flex: 1;
            @media (max-width:1180px) {
                display: none;
            }
        
            .contact{
                @include flex-spaced;
                padding-bottom: $size-500;
                border-bottom: 1px solid  $light-gray;
                margin-bottom: $size-300;
                .contact_list{
                   @include flex-center;

                    .contact_list-item{
                        @include flex-center;     
                        margin-right: $size-700;
                        font-size: $fs-500;
                        position: relative;
                        &:not(:first-child){
                            margin-left: $size-600;
                        }
                     
                        &:not(:first-child)::before{
                            content: "";
                            height: 100%;
                            width: 2px;
                            position: absolute;
                            left: -10px;
                            background-color: $light-gray;

                        }

                        img{
                            margin-right:.8rem ;
    
                        }
                     
                    }
                }
                .social_icons{
                    @include flex-center;

                    li{
                        cursor: pointer;
                        padding: 1rem;
    
                        &:hover{
                            transform: translateY(-7px);
                            transition: transform ease .3s;
                        }
                    }
                }
            }
            .nav_list{
                @include flex-spaced;
               
                li{
                    cursor: pointer;;
                   font-size: $fs-500;
                    margin-right: $size-600;
                  }

                button{
                  margin-left: auto;
                  background-color: $light-orange;
                  line-height: 1.6rem;
                  width: 12rem;
                  height: 4.8rem;
                  @include button-hover;

                }
        

            }
        }
    }
    .banner{
    @include flex-spaced;
    @media (max-width:900px) {
                flex-direction: column;
            }
    margin-top: $size-900;

    .image-container{
        img{
            max-width: 50rem;
            width: 100%;
        }
    }
    .content{
        flex: 1;
        h1{
            font-size: $fs-900;
            margin-bottom: $size-700;
            line-height: 10rem;
        }

        p{
            font-size: $fs-700;
            line-height: 3.2rem;
            color: $dark-gray;
            letter-spacing: 1px;
            margin-bottom: $size-700;
            line-height: 3.2rem;
        }
        .buttons-containers{

            button{
                padding: $size-500  $size-700;
                &:first-child{
                    background-color: $light-orange;
                }
                &:nth-child(2){
                    border: .1rem solid $color-black;
                    margin-left: $size-600;

                }
                @include button-hover;
            }

        }
    }
    }
}
.features{

    .logos{    
    @include flex-center;
        
    }


    .features_wrapper{
        max-width: 152rem;
        padding: 8rem 10rem;
        border: 1px solid $secondary-gray;
        display: flex;

            @media (max-width:900px) {
                    flex-direction: column;
                    padding: 4rem 5rem;
                    gap: 4rem;
            
                }
    
        .features_content{
            margin-right: 12rem;
            max-width: 42rem;
            align-self: flex-start;
        
            button{     
                background-color: $light-orange;
                width: 100%;
                height: 5.6rem;
                img{
                    margin-left: .4rem;
                    width: 1.3rem;
                }
                @include button-hover;

            }
        }
        .features_container{
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(2,1fr);
            gap: $size-600;

            @media (max-width:700px) {
                grid-template-columns: 1fr;
             }
                .single_feature{
                    width: 24rem;
                    //margin-right: 30px;
                    padding: $size-500 $size-600 ;
                    img{
                        width: 3rem;
                        height: 3rem;
                        margin-bottom: $size-700;
                    }

                    h4{
                        font-size: $fs-700;
                        margin-bottom: $size-500;          
                    }
                    p{
                        font-size: 1.6rem;
                        line-height: 2.5rem;
                        color: $primary-gray;
                    }

                     @media (max-width:700px) {
                     width: 100%;
                          }
                }

        }
    }
}

.about{
    @include flex-spaced;
    margin: 12rem 0px;

    @media (max-width:950px) {
         flex-direction: column;
         gap: $size-900;
     }


    .image_container{
        width: 50rem;
        height: 61rem;
        margin-left: $size-800;
        position: relative;

        .wavy_line{
            position:absolute;
            left: 0;
            top: 1rem;
        }
        .about_image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
        .founder_card{
            background-color: $light-blue;
            max-width: 36rem;
            padding: $size-900 $size-500;
            position: absolute;
            bottom: 4rem;
            left: -6rem;
            h6{
                font-size: $fs-500;
                font-weight: bold;
                margin-bottom: $size-600;

                span{
                    color: $orange;
                }
            }
            p{
                font-size: 1.6rem;
                color: $font-color;
            }
        }
          @media (max-width:750px) {
                  width: 80%;

                 .founder_card{
                    padding: $size-500 $size-300;

                 }
            
             }


    }
    .about_content{
        max-width: 52rem;

        h2{
            max-width: 53rem;

        }
        .about_text{
            font-size: 1.6rem ;
            line-height: 3.2rem;
            color: $primary-gray;
            margin-bottom: 8.8rem;
        }
     
        .buttons_containers{
            display: flex;
            align-items: center;

            button{
                padding: 1.7rem 3rem;
                border-radius: 4rem;
                background-color: black;
                color: $secondary-white;
                margin-right: 3.6rem;
                &:hover{
                    opacity: .8;
                    transition: all ease .3s;
                    img{
                       transform: rotate(360deg);
                       transition: all ease .5s;
                    }
            
                }
             
            }
            .video_btn{
                background-color: transparent;
                display: inline-flex;
                align-items: center;
                padding: 0 0 ;
                font-size: 1.6rem;
                color: $font-color;
                img{
                    width: 4.6rem;
                    margin-right: 1.6rem;
                }

                
            }
            
    
          
        }
      


    }
}
.services{
    background-color: $bg-color;
    position: relative;
    padding: 12rem 0;
    .services_wrapper{

        h2{
           line-height: 5.4rem; 
           max-width: 50rem;
    
        }
       
        .services_container{
          display: grid;
          grid-template-columns: repeat(4,1fr);
           gap: 3rem;

           @media (max-width:1180px) {
           grid-template-columns: repeat(3,1fr);
         }
          @media (max-width:950px) {
            grid-template-columns: repeat(2, 1fr);
            
                   }
         @media (max-width:650px) {
            grid-template-columns: 1fr;
                    
                  }
            .service_card{
                //max-width: 308px;
                background-color: #fff;
                padding: 4rem 3rem;
           
                .line{
                    height: 1px;
                    background-color: black;
                    width: 3.9rem;
                    margin-bottom: 3.6rem;
                }
                h4{
                    color: $font-color;
                    font-size: 2.2rem;
                    line-height: 3.3rem;
                    margin-bottom: 1.2rem;
                }
                p{
                    font-size: 1.6rem;
                    color:$primary-gray ;
                    max-width: 24rem;
                    margin-bottom: 1rem;
                }
                .ar{
                    display: block;
                    padding: 1.5rem;
                    border-radius: 100%;
                    background-color: black;
                    margin-left: auto;
          
                }
                &:hover{
                    background-color: $light-orange;
                    transition: all ease .3s;
                    cursor: pointer;

                }
          
             
            }
        }
        .btn-container{
            text-align: center;

            .service_btn{
                border: 1px solid black;
                display: inline-block;
                border-radius: $radius;
                margin: 20px auto;
                padding: 2rem 3rem;
                font-size: $fs-500;
                line-height: 1.5rem;            
       
            }
        }
    }
.img-container{
    position: absolute;
    bottom: 0;
    right: 0;
}

}
.why_choose-us{
    display: flex;
    padding: 6rem 30rem;
    //position: relative;
    justify-content: space-between;
    
    .content{
        .title{
            color: $orange;
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin-bottom: 1.8rem;
        }
        h3{
            font-size: 4.5rem;
            font-weight: bold;
            color: $font-color;
            margin-bottom: 4.8rem;
            max-width: 40rem;
        }
        //margin:0 116px 0 300px;
        .benefits_list{

            ul{
                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: 42px;
                    .img_wrapper{
                        border: 1px solid  $secondary-gray;
                        padding: 1.4rem;
                        border-radius: 100%;
                        margin-right: 2.4rem;
                    }
                    img{
   
                        width: 3rem;
                        height: 3rem;
                    }
                    .list_detail{
                        h5{
                            font-size: 2.2rem;
                            font-weight: bold;
                            color: $font-color;
                            margin-bottom: .8rem;
                        }
                        p{
                            font-size: 1.6rem;
                            color: $primary-gray;
                            line-height: 2.8rem;
                        }
                    }
                    &:last-child{
                      margin-bottom: 0;
                    }

  
                }
            }
        }

    }
    .image_container{
        position: relative;
        img{
            max-width: 645px;
            height: 50rem;
            object-fit: contain;
        }
        
    }
    .image_container::before{
        content: "";
        position: absolute;
        bottom: 0;
        right: -30rem;
        width: 100rem;
        height: 42rem;
        background-color: $secondary-white;
        z-index: -1;
        
    }

}
.projects{
    width: 90vw;
    max-width: 132rem;
    margin: auto;
    h6{
        font-size: 1.8rem;
        color: $orange;
        line-height: 2.2rem;
        margin-bottom: 1.8rem;
        text-align: center;
    }
    h3{
        font-size: 4.5rem;
        color: $font-color;
        line-height: 5.5rem;
        margin-bottom: 9rem;
        text-align: center;
    }
    .projects_container{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
     .project_card{
        //width: 645px;
        margin-bottom: 4.8rem;
        img{
            width: 100%;
            height: 311px;
            object-fit: cover;
            object-position: top center;
        }
        .project_title{
            color: $font-color;
            text-align: left;
            border-bottom: 1px solid $secondary-gray;
            margin-top: 3.5rem;
            padding-bottom: 1rem;
        }
        .project_btn{
            display: block;
            margin-left: auto;
            margin-top: 1rem;
            font-size: 1.4rem;
            background-color: transparent;
            padding: 1.3rem 1.6rem;
            img{
    
                width: 1rem;
                height: 1rem;
            }
        }
     }
     
    }
    .btn-container{
       text-align: center;
       .projects_btn{
        display: inline-block;
           margin: 20px auto;
           background-color: black;
           color: white;
           padding: 1.7rem 3.6rem;
           font-size: 1.6rem;
           border-radius: 4rem;
        

       }
    }
}
.team{
background-color:#EDCF87 ;
padding: 12rem 0;


.team_header{
    max-width: 130rem;
    margin: auto;

        h5{
            color: $orange;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.2rem;
            margin-bottom: 1.8rem;
        }
        .team_header-wrapper{
            display: flex;
            justify-content: space-between;
            h3{
                color: $font-color;
                font-size: 4.5rem;
                font-weight: bold;
                line-height: 5.5rem;
            }

            button{
                background-color: transparent;
                font-size: 1.6rem;
                line-height: 1.6rem;
                color: $font-color;
                padding: 1.9rem 2.6rem;
                border: .1rem solid $font-color;
                border-radius: 4rem;
            }
        }

}

    .team_container{
        max-width: 132rem;
        margin: auto;
        margin-top: 8rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
     

        .member_card{
            max-width: 306px;
        
            img{
                width: 100%;
                height: 420px;
                object-fit: cover;
                margin-bottom: 2.8rem;
            }
            .member_name{
                font-size: 2.2rem;
                font-weight: bold;
                color: $font-color;
                margin-bottom: .8rem;
            }

            .job_title{
                color: $primary-gray;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.8rem;

            }

        }
    }
    .image_slider{
        display: flex;
        justify-content: center;
        margin: 15px 0px;
        .slider{
            height: 10px;
            width: 10px;
            background-color: gray;
            border-radius: 100%;
            margin-right: 10px;
        }
        .active{
        background-color: black;            
        }
    }
    .testimonials{
     background-color: #fff;
     max-width: 152rem;
     margin: 7rem auto;
     padding: 20rem 10rem;
     .header_wrapper{
        text-align: center;

        h4{
            color: $orange;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.2rem;
            margin-bottom: 1.8rem;
        }
        h3{
            color: $font-color;
            font-size: 4.5rem;
            line-height: 5.5rem;

        }
     }

        .testimonials_wrapper{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            //gap: 10px;
            margin-top: 30px;

            .testimonial{
                //max-width: 35rem;
                padding: 4.8rem 3.2rem;
                .customer_review{
                    color: $font-color;
                    font-size: 1.8rem;
                    line-height: 3.4rem;
                    margin-bottom: 3.6rem;
                }
                .customer_info{
                    display: flex;
                    align-items: center;
                    margin-top: 20px;

                img{
                        width: 7rem;
                        height: 7rem;
                        border-radius: 100%;
                        object-fit: cover;
                        margin-right: 20px;
                    }
                    .customer_name_job{
                        .customer_name{
                            font-size: 2.2rem;
                            font-weight: bold;
                        }
                        .customer_job{
                            color: $orange;
                            font-size: 1.6rem;
                        }
                    }
                }
            }

        }

      .testimonials_btn{
        display: block;
        margin: auto;
        background-color: black;
        color: white;
        padding: 1.7rem  3.6rem;
        border-radius: 4rem;
    
      }  

    }
    
}
.blog{
    max-width:1347px ;
    margin:9rem auto;
    
    .articles_wrapper{

        .blog_header-wrapper{
            margin-bottom: 3.8rem;
            h4{
                color: $orange;
                font-size: 1.8rem;
                line-height: 2.2rem;
                margin-bottom: 1.8rem;
            }
            .blog_header{
              display: flex;
              justify-content: space-between;
              h3{
                font-size: 4.5rem;
                color: $font-color;
                line-height: 5.5rem;
              }
              button{
                background-color: transparent ;
                border: .1rem solid $font-color;
                padding: 1.7rem 3rem;
                border-radius: 4rem;

              }
            }
        }


        .articles{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 30px;
    
            .article{
               .img-container{              
                position: relative;

                img{
                    width: 100%;
                    height: 230px;
                    object-fit: cover;
                    margin-bottom: 2.8rem;
            
                }
                .article_date{
                    position: absolute;
                    top: 1.6rem;
                    left: 1.6rem;
                    width: 5.6rem;
                    height: 6.4rem;
                    background-color: $light-orange;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
            
                    z-index: 1;
                    font-size: 2.2rem;
                    line-height: 3.3rem;
                    font-weight: bold;
                    .article_date-month{
                        color: $primary-gray;
                        font-size: 1.6rem;
                        font-weight: normal;
                        padding: 0;
                        margin: 0;
                    }
                }
               }

               .article_category{
                font-size: 1.6rem;
                color: $primary-gray;
                margin-bottom: 2rem;

               }
               .article_title{
                font-size: 2.2rem;
                color: $font-color;
                font-weight: bold;
                line-height: 3.3rem;
                margin-bottom: 2rem;
               }
               .article_text{
                color: $primary-gray;
                font-size: 1.6rem;
                line-height: 2.8rem;

               }
              
            }
        }

           .image_slider {
               display: flex;
               justify-content: center;
               margin: 15px 0px;
    
               .slider {
                   height: 10px;
                   width: 10px;
                   background-color: gray;
                   border-radius: 100%;
                   margin-right: 10px;
    
                }
                .active {
                 background-color: black;
                }
           }
    }
}
.newsletters{
    background-color:$secondary-white;
    padding: 103px 300px;
    display: flex;
    align-items: center;
    position: relative;
    h2{
        font-size: 4.5rem;
        color: $font-color;
        width: 74rem;
        scroll-margin-right: 3.4rem;
    }
    form{
        display: flex;

        input{
            border: none;
            border-radius: 4rem;
            padding: 1.5rem 8rem 1.5rem 3.5rem;
            
        }
        ::placeholder{
        color: $primary-gray;
        font-size: 1.6rem;
        line-height: 1.6rem;
        }

        button{
            background-color: $light-orange;
            padding: 1.5rem 3.6rem;
            border-radius: 4rem;
            margin-left: 1.6rem;
        }

        
    }
    .wavy_line{
        position: absolute;
        bottom: 20px;
        right: 0px;
    }
}
.footer{
    background: #0e1021;
    color: white;
    position: relative;
    overflow: hidden;
    .img_container{     
        position: absolute;
        bottom: -8rem;
        right: -13rem;

        height: 20rem;


    }

    .footer_wrapper{
        margin: auto;
        padding-top: 6rem;

        .footer_nav{
            display: flex;
            justify-content: space-between;
            max-width: 132rem;
            margin: auto;
    
    
            section{
                a{
                    display: block;
                }
                
            }
            .about_crito{
               max-width: 310px;
               margin-right: 10rem;
               p{
                 font-size: 1.6rem;
                 color :RGBA(255, 255, 255, 0.7)
               }
            }
        }
        .nav_lists{
            display: flex;
            flex: 1;
        
            justify-content: space-between;
            .nav_list{
               h3{
                font-size: 2.2rem;
                margin-bottom: 4.2rem;
               }
               a{
                color: rgba(255, 255, 255, 0.7);
                font-size: 1.6rem;
                line-height: 4rem;
                font-weight: 500;
               }
            }
        }
        .footer_social_copyright{
            //padding: 10px 300px;
            max-width: 132rem;
     
            margin: auto;
            display: flex;
            justify-content: space-between;
            .copyright{
                color: blue;
            }

            .social_links{

          .social_icons{
            display: flex;
            align-items: center;
            li{
                margin-left: 10px;

                img{
    
                    filter: invert(100%);
                }
            }

          }
            }
        }
    }
}
