header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0efe9;
  padding: 1.8rem 30rem;
}
header .container .logo {
  margin-right: 3rem;
}
header .container .header_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
header .container .header_container .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
  margin-bottom: 10px;
}
header .container .header_container .contact .contact_list {
  display: flex;
  align-items: center;
}
header .container .header_container .contact .contact_list .contact_list-item {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  color: #191919;
}
header .container .header_container .contact .contact_list .contact_list-item img {
  margin-right: 0.8rem;
}
header .container .header_container .contact .social_icons {
  display: flex;
}
header .container .header_container .contact .social_icons li {
  margin-left: 1.8rem;
}
header .container .header_container .nav_list {
  display: flex;
  align-items: center;
}
header .container .header_container .nav_list li {
  font-size: 1.6rem;
  margin-right: 1.5rem;
}
header .container .header_container .nav_list button {
  margin-left: auto;
  background-color: #f9d783;
  line-height: 1.6rem;
  border: none;
  width: 12rem;
  height: 4.8rem;
  border-radius: 4rem;
}
header .banner {
  background-color: #f0efe9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 30rem;
}
header .banner .image-container {
  max-width: 65rem;
}
header .banner .image-container img {
  width: 100%;
  max-width: 50rem;
}
header .banner .content {
  flex: 1;
}
header .banner .content h1 {
  font-size: 9rem;
  margin-bottom: 2.8rem;
}
header .banner .content p {
  font-size: 2rem;
  line-height: 3.2rem;
  color: rgba(25, 25, 25, 0.7);
  letter-spacing: 1px;
  margin-bottom: 5.2rem;
  line-height: 3.2rem;
}
header .banner .content .buttons-containers button {
  padding: 1.8rem 3rem;
  border-radius: 40px;
}
header .banner .content .buttons-containers button:first-child {
  background-color: #f9d783;
}
header .banner .content .buttons-containers button:nth-child(2) {
  border: 0.1rem solid #191919;
  margin-left: 1.6rem;
}

.features .logos {
  padding: 7.2rem 30rem;
  display: flex;
  justify-content: space-between;
}
.features .features_wrapper {
  max-width: 1520px;
  margin: 0 20rem;
  border: 1px solid rgba(25, 25, 25, 0.1);
  display: flex;
  align-items: center;
  padding: 8rem 10rem;
}
.features .features_wrapper .features_content {
  margin-right: 10rem;
  max-width: 42rem;
}
.features .features_wrapper .features_content h4 {
  color: #F94D1C;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 1.7rem;
}
.features .features_wrapper .features_content h2 {
  font-size: 4.5rem;
  color: #191919;
  margin-bottom: 4.8rem;
}
.features .features_wrapper .features_content button {
  background-color: #f9d783;
  width: 100%;
  height: 5.6rem;
  border-radius: 4rem;
  font-size: 1.6rem;
}
.features .features_wrapper .features_content button img {
  margin-left: 0.4rem;
  width: 1.3rem;
}
.features .features_wrapper .features_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.features .features_wrapper .features_container .single_feature {
  width: 22.7rem;
  margin-right: 30px;
  padding: 24px 31px 40px;
}
.features .features_wrapper .features_container .single_feature img {
  width: 30px;
  height: 30px;
  margin-bottom: 2.8rem;
}
.features .features_wrapper .features_container .single_feature h4 {
  font-size: 2.2rem;
  color: #191919;
  margin-bottom: 1.5rem;
}
.features .features_wrapper .features_container .single_feature p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: rgba(25, 25, 25, 0.7);
}

.about {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 120px auto;
}
.about .image_container {
  max-width: 500px;
  max-height: 500px;
  margin-left: 56px;
  position: relative;
}
.about .image_container .wavy_line {
  position: absolute;
  left: 0;
  top: 10px;
}
.about .image_container .about_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .image_container .founder_card {
  background-color: lightblue;
  max-width: 368px;
  padding: 5.5rem 1.7rem;
  position: absolute;
  bottom: 40px;
  left: -60px;
}
.about .image_container .founder_card h6 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2.2rem;
}
.about .image_container .founder_card h6 span {
  color: #F94D1C;
}
.about .image_container .founder_card p {
  font-size: 1.6rem;
  color: #191919;
}
.about .about_content {
  max-width: 52rem;
}
.about .about_content h4 {
  color: #F94D1C;
  font-size: 1.8rem;
  margin-bottom: 1.7rem;
}
.about .about_content h3 {
  font-size: 4.5rem;
  max-width: 53rem;
  font-style: bold;
  margin-bottom: 3.7rem;
}
.about .about_content p {
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: rgba(25, 25, 25, 0.7);
  margin-bottom: 8.8rem;
}
.about .about_content .buttons_containers {
  display: flex;
  align-items: center;
}
.about .about_content .buttons_containers button {
  padding: 1.7rem 3rem;
  border-radius: 4rem;
  background-color: black;
  color: #f0efe9;
  margin-right: 3.6rem;
}
.about .about_content .buttons_containers .video_btn {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  padding: 0 0;
  font-size: 1.6rem;
  color: #191919;
}
.about .about_content .buttons_containers .video_btn img {
  width: 4.6rem;
  margin-right: 1.6rem;
}

.services {
  background-color: #f0efe9;
  padding: 12rem 30rem;
  position: relative;
}
.services .services_wrapper h4 {
  color: #F94D1C;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 1.7rem;
}
.services .services_wrapper h3 {
  color: #191919;
  font-size: 4.5rem;
  line-height: 5.4rem;
  max-width: 50rem;
  margin-bottom: 4.8rem;
}
.services .services_wrapper .services_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.services .services_wrapper .services_container .service_card {
  background-color: #fff;
  padding: 4rem 3rem;
}
.services .services_wrapper .services_container .service_card .line {
  height: 1px;
  background-color: black;
  width: 3.9rem;
  margin-bottom: 3.6rem;
}
.services .services_wrapper .services_container .service_card h4 {
  color: #191919;
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin-bottom: 1.2rem;
}
.services .services_wrapper .services_container .service_card p {
  font-size: 1.6rem;
  color: rgba(25, 25, 25, 0.7);
  max-width: 24rem;
  margin-bottom: 1rem;
}
.services .services_wrapper .services_container .service_card .ar {
  display: block;
  padding: 1.5rem;
  border-radius: 100%;
  background-color: black;
  margin-left: auto;
}
.services .services_wrapper .btn-container {
  text-align: center;
}
.services .services_wrapper .btn-container .service_btn {
  border: 1px solid black;
  display: inline-block;
  border-radius: 4rem;
  margin: 20px auto;
  color: #191919;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  line-height: 1.5rem;
}
.services .img-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.why_choose-us {
  display: flex;
  padding: 6rem 30rem;
  justify-content: space-between;
}
.why_choose-us .content .title {
  color: #F94D1C;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 1.8rem;
}
.why_choose-us .content h3 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #191919;
  margin-bottom: 4.8rem;
  max-width: 40rem;
}
.why_choose-us .content .benefits_list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}
.why_choose-us .content .benefits_list ul li .img_wrapper {
  border: 1px solid rgba(25, 25, 25, 0.1);
  padding: 1.4rem;
  border-radius: 100%;
  margin-right: 2.4rem;
}
.why_choose-us .content .benefits_list ul li img {
  width: 3rem;
  height: 3rem;
}
.why_choose-us .content .benefits_list ul li .list_detail h5 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #191919;
  margin-bottom: 0.8rem;
}
.why_choose-us .content .benefits_list ul li .list_detail p {
  font-size: 1.6rem;
  color: rgba(25, 25, 25, 0.7);
  line-height: 2.8rem;
}
.why_choose-us .content .benefits_list ul li:last-child {
  margin-bottom: 0;
}
.why_choose-us .image_container {
  position: relative;
}
.why_choose-us .image_container img {
  max-width: 645px;
  height: 50rem;
  object-fit: contain;
}
.why_choose-us .image_container::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -30rem;
  width: 100rem;
  height: 42rem;
  background-color: #f0efe9;
  z-index: -1;
}

.projects {
  width: 90vw;
  max-width: 132rem;
  margin: auto;
}
.projects h6 {
  font-size: 1.8rem;
  color: #F94D1C;
  line-height: 2.2rem;
  margin-bottom: 1.8rem;
  text-align: center;
}
.projects h3 {
  font-size: 4.5rem;
  color: #191919;
  line-height: 5.5rem;
  margin-bottom: 9rem;
  text-align: center;
}
.projects .projects_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.projects .projects_container .project_card {
  margin-bottom: 4.8rem;
}
.projects .projects_container .project_card img {
  width: 100%;
  height: 311px;
  object-fit: cover;
  object-position: top center;
}
.projects .projects_container .project_card .project_title {
  color: #191919;
  text-align: left;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
  margin-top: 3.5rem;
  padding-bottom: 1rem;
}
.projects .projects_container .project_card .project_btn {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: transparent;
  padding: 1.3rem 1.6rem;
}
.projects .projects_container .project_card .project_btn img {
  width: 1rem;
  height: 1rem;
}
.projects .btn-container {
  text-align: center;
}
.projects .btn-container .projects_btn {
  display: inline-block;
  margin: 20px auto;
  background-color: black;
  color: white;
  padding: 1.7rem 3.6rem;
  font-size: 1.6rem;
  border-radius: 4rem;
}

.team {
  background-color: #EDCF87;
}
.team .team_header {
  max-width: 1320px;
  border: 1px solid red;
  margin: auto;
}
.team .team_header .team_header-wrapper {
  display: flex;
  justify-content: space-between;
}
.team .team_container {
  max-width: 1320px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.team .team_container .member_card {
  border: 1px solid red;
  max-width: 306px;
}
.team .team_container .member_card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.team .image_slider {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.team .image_slider .slider {
  height: 10px;
  width: 10px;
  background-color: gray;
  border-radius: 100%;
  margin-right: 10px;
}
.team .testimonials {
  background-color: #fff;
}
.team .testimonials .header_wrapper {
  border: 1px solid magenta;
  text-align: center;
}
.team .testimonials .testimonials_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
}
.team .testimonials .testimonials_wrapper .testimonial {
  max-width: 356px;
  padding: 48px 32px;
}
.team .testimonials .testimonials_wrapper .testimonial .customer_info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.team .testimonials .testimonials_wrapper .testimonial .customer_info img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 20px;
}
.team .testimonials .testimonials_btn {
  display: block;
  margin: auto;
}

.blog {
  border: 2px solid purple;
  max-width: 1347px;
  margin: auto;
}
.blog .articles_wrapper .blog_header-wrapper {
  border: 1px solid orangered;
}
.blog .articles_wrapper .blog_header-wrapper .blog_header {
  display: flex;
  justify-content: space-between;
}
.blog .articles_wrapper .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border: 1px solid orangered;
}
.blog .articles_wrapper .articles .article {
  width: 400px;
}
.blog .articles_wrapper .articles .article img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.blog .articles_wrapper .image_slider {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.blog .articles_wrapper .image_slider .slider {
  height: 10px;
  width: 10px;
  background-color: gray;
  border-radius: 100%;
  margin-right: 10px;
}
.blog .articles_wrapper .image_slider .active {
  background-color: black;
}

.newsletters {
  background-color: #f0efe9;
  padding: 103px 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.newsletters h2 {
  font-size: 45px;
}
.newsletters .form {
  display: flex;
  border: 1px solid red;
}
.newsletters .wavy_line {
  position: absolute;
  bottom: 20px;
  right: 0px;
}

.footer {
  border: 1px solid orange;
  background: #0e1021;
  color: white;
}
.footer .footer_wrapper {
  border: 3px solid purple;
}
.footer .footer_wrapper .footer_nav {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  padding: 114px 300px 30px 300px;
}
.footer .footer_wrapper .footer_nav section {
  border: 1px solid red;
}
.footer .footer_wrapper .footer_nav section a {
  display: block;
}
.footer .footer_wrapper .footer_nav .about_crito {
  max-width: 310px;
}
.footer .footer_wrapper .footer_social_copyright {
  border: 5px solid magenta;
  padding: 10px 300px;
  display: flex;
  justify-content: space-between;
}
.footer .footer_wrapper .footer_social_copyright .copyright {
  color: blue;
}
.footer .footer_wrapper .footer_social_copyright .social_links {
  border: 1px solid red;
}
.footer .footer_wrapper .footer_social_copyright .social_links .social_icons {
  display: flex;
  align-items: center;
}
.footer .footer_wrapper .footer_social_copyright .social_links .social_icons li {
  margin-left: 10px;
}
.footer .footer_wrapper .footer_social_copyright .social_links .social_icons li img {
  border: 2px solid blue;
  filter: invert(100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  border: none;
}

/*# sourceMappingURL=styles.css.map */
